.canvas-preview {
  display: block;
  border: 1px solid #ccc;
  border-radius: 8px;

  &--hidden {
    visibility: hidden;
  }
}

.canvas-preview-status {
  font-family: sans-serif;

  &--error {
    color: #b00020;
  }
}
